
<div class="row">
  <div class="col-md-6">
    <h1>Login </h1>
    <form>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email" >
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="passowrd">
        <span class="text--center">Forgot Password? </span>
      </div>
      <button class="btn btn-default" (click)="login()">Login</button>
       <p class="text--center">Not a member? <a (click)="createUser()">Sign up now</a> </p>
    </form>
  </div>
</div>
<!-- <div class="grid">

  <form action="https://httpbin.org/post" method="POST" class="form login">

    <div class="form__field">
      <label for="login__username"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use></svg><span class="hidden">Username</span></label>
      <input id="login__username" type="text" name="username" class="form__input" placeholder="Username" required>
    </div>

    <div class="form__field">
      <label for="login__password"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg><span class="hidden">Password</span></label>
      <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
    </div>

    <div class="form__field">
      <input type="submit" value="Sign In">
    </div>

  </form>

  <p class="text--center">Not a member? <a href="#">Sign up now</a> <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#arrow-right"></use></svg></p>

</div> -->