/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

//Variables
$primary-color: #FF5B14;
$primary-label: #e3e3e3;
$primary-btn: #e3e3e3;

             
$secondary-label: #e3e3e3;