
<div class="col-sm-5">
  <h4>Create Project:</h4>
  <div class="panel panel-default">
      <div class="panel-body form-horizontal payment-form">
          <div class="form-group">
              <label for="concept" class="col-sm-3 control-label">Project name</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="concept" name="concept">
              </div>
          </div>
          <div class="form-group">
              <label for="description" class="col-sm-3 control-label">Description</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="description" name="description">
              </div>
		  </div>
		  <div class="form-group">
			<label for="owner" class="col-sm-3 control-label">Owner</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="owner" name="owner">
			</div>
		</div> 
		  <div class="form-group">
			<label for="co-owner" class="col-sm-3 control-label">Co-Owner</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="co-owner" name="co-owner">
			</div>
		</div>  
          
          <div class="form-group">
              <label for="status" class="col-sm-3 control-label">State</label>
              <div class="col-sm-9">
                  <select class="form-control" id="status" name="status">
                      <option>Active</option>
                      <option>InActive</option>
                  </select>
              </div>
          </div> 
          <div class="form-group">
              <label for="date" class="col-sm-3 control-label">Date</label>
              <div class="col-sm-9">
                  <input type="date" class="form-control" id="date" name="date">
              </div>
		  </div>  
		  <div class="form-group">
			<label for="created-by" class="col-sm-3 control-label">Created By</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="created-by" disabled name="created-by">
			</div>
		</div>
		<div class="form-group">
			<label for="updated-by" class="col-sm-3 control-label">Updated By</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="Updated-by" disabled name="Updated-by">
			</div>
		</div>
		 
          
      </div>
  </div>            
</div>